button,
.button {
    appearance: none;
    outline: none;
    background: none;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    border: var(--c-fg) 2px solid;
    background-color: var(--c-bg);
    color: var(--c-fg);
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
    cursor: pointer;
}

button {
    width: 100%;
    display: grid;
    place-items: center;
}

button:hover,
.button:hover {
    font-weight: 700;
}

button:active,
.button:active {
    background-color: var(--c-fg);
    color: var(--c-bg);
}

.button--primary {
    background-color: var(--c-fg);
    color: var(--c-bg);
}

.button--primary:active {
    background-color: var(--c-bg);
    color: var(--c-fg);
}

.nav__button,
.collection__form--create .button {
    border-color: var(--c-white);
    background-color: var(--c-black);
    color: var(--c-white);
}

.nav__button--:active,
.collection__form--create .button:active {
    background-color: var(--c-white);
    color: var(--c-black);
}

.nav__button--primary,
.collection__form--create .button--primary,
.button--detail {
    background-color: var(--c-white);
    color: var(--c-black);
}

.nav__button--primary:active,
.collection__form--create .button--primary:active,
.button--detail:active {
    background-color: var(--c-black);
    color: var(--c-white);
}

.profile__button {
    width: 10.5rem;
    display: grid;
    place-items: center;
    background-color: var(--c-black);
    border-color: var(--c-black);
    color: var(--c-white);
}

.artwork__card--light .artwork__button {
    background-color: var(--c-black);
    border-color: var(--c-white);
    color: var(--c-white);
}

.artwork__card--dark .artwork__button {
    background-color: var(--c-white);
    border-color: var(--c-black);
    color: var(--c-black);
}