button {
    appearance: none;
    outline: none;
    background: none;
    border: none;
    width: 100%;
    padding: 1rem;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: var(--c-fg) 2px solid;
    background-color: var(--c-bg);
    color: var(--c-fg);
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
    cursor: pointer;
}

button:hover {
    font-weight: 700;
}

button:active {
    background-color: var(--c-fg);
    color: var(--c-bg);
}