:root {
    --c-fg: #0D0D0C;
    --c-bg: #F2F2E6;

    --c-black: #0D0D0C;
    --c-white: #F2F2E6;
}

html {
    box-sizing: border-box;
    background-color: var(--c-white);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
p,
button,
input,
label,
textarea {
    font-family: sans-serif;
    color: var(--c-black);
}

h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}


/* ----- navigation ----- */

header {
    display: grid;
    grid-template-columns: 1fr min-content;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    transition: right 0.25s;
}

.nav--invisible {
    right: -20rem;
}

.hamburger__wrapper {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-end;
    display: grid;
    place-items: center;
    width: min-content;
    height: min-content;
    margin: 2rem -2px 0rem 0rem;
    background-color: var(--c-black);
    padding: 1rem;
    border-radius: 5px 0px 0px 5px;
    color: var(--c-white);
    z-index: 10;
    border-left: var(--c-white) 2px solid;
    border-top: var(--c-white) 2px solid;
    border-bottom: var(--c-white) 2px solid;
}

.nav__bar {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    height: 100%;
    width: 20rem;
    background-color: var(--c-black);
    border-left: var(--c-white) 2px solid;
    color: var(--c-white);
}

.nav__links,
.nav__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.nav__buttons>* {
    width: 100%;
}

.nav__link {
    color: var(--c-white);
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

.active {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.nav__button {
    border-color: var(--c-white);
    background-color: var(--c-black);
    color: var(--c-white);
}

.nav__button--:active {
    background-color: var(--c-white);
    color: var(--c-black);
}

.nav__button--primary {
    background-color: var(--c-white);
    color: var(--c-black);
}

.nav__button--primary:active {
    background-color: var(--c-black);
    color: var(--c-white);
}


/* ----- index ----- */

.main--index {
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
    gap: 5rem;
}

.main--index .canvas {
    border: var(--c-black) 1px solid;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.filters input[type="search"] {
    width: 50%;
}

.artworks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}


/* ----- form ----- */

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.button__wrapper {
    display: flex;
    gap: 1rem;
}

.button--primary {
    background-color: var(--c-fg);
    color: var(--c-bg);
}

.button--primary:active {
    background-color: var(--c-bg);
    color: var(--c-fg);
}

form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

textarea {
    appearance: none;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    border-bottom: 2px solid var(--c-fg);
    background-color: var(--c-bg);
    color: var(--c-bg);
    font-size: 1rem;
    transition: background-color 0.25s, border-bottom 0.25s;
}

textarea:focus {
    border-bottom-width: 3px;
}