:root {
    --c-fg: #0D0D0C;
    --c-bg: #F2F2E6;
}

html {
    box-sizing: border-box;
    background-color: var(--c-bg);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

textarea {
    appearance: none;
    outline: none;
    border: none;
    resize: none;
    max-width: 100%;
    border-radius: 5px;
    border: var(--c-fg) 2px solid;
    background-color: var(--c-bg);
    color: var(--c-fg);
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}